table 
{
    border-collapse: collapse;

}

table, th, td  
{
    border: 3px solid black;
}

td
{
	text-align: center;
}

#content table tr td table
{
	height: 100%;
	width: 100%;
}

#content table tr td table, th, td
{
	border: 1px solid black;
}